@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --white: #ebdcca;
  --black: #151519;
  --red: #d52a1f;

  --background: var(--white);
}

@theme inline {
  --color-white: var(--white);
  --color-black: var(--black);
  --color-red: var(--red);
  --color-background: var(--white);

  --text-xs: 0.625rem;
  --text-sm: 0.812rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.562rem;
  --text-2xl: 1.938rem;
  --text-3xl: 2.438rem;
  --text-4xl: 3.062rem;
  --text-5xl: 3.812rem;
  --text-6xl: 4.75rem;
  --text-7xl: 5.938rem;
  --text-8xl: 7.438rem;
  --text-9xl: 9.312rem;
  --text-10xl: 11.625rem;
  --text-11xl: 14.562rem;

  --ease-in-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}

body {
  background: var(--background);
  color: var(--black);
}

::selection {
  @apply bg-red text-white dark:bg-red dark:text-black;
}

:focus {
  outline: none;
}
