@tailwind base;
@tailwind components;
@tailwind utilities;

html * {
  cursor: none;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #eee;
  background-color: #1b1b1b;
  overflow-x: hidden;
}

::selection {
  background: #814df1;
  color: #fff;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/Satoshi-Regular.woff") format("woff"),
    url("/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/Satoshi-Medium.woff") format("woff"),
    url("/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/Satoshi-Bold.woff") format("woff"),
    url("/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("/fonts/Satoshi-Black.woff2") format("woff2"),
    url("/fonts/Satoshi-Black.woff") format("woff"),
    url("/fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.text-stroke {
  -webkit-text-stroke-width: 1px;
}

.text-stroke-primary {
  -webkit-text-stroke-color: #814df1;
}
