@tailwind base;
@tailwind components;
@tailwind utilities;

html :is(a, button, span[href], .expand-cursor):hover {
  cursor: none;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

::selection {
  background: #0043ff;
  color: #fff;
}

@font-face {
  font-family: 'soria-font';
  src: url('/fonts/soria-font.ttf') format('truetype');
}

@font-face {
  font-family: 'NIKEA';
  src: url('/fonts/NIKEA.otf') format('opentype');
}

@font-face {
  font-family: 'GeneralSans-Regular';
  src: url('/fonts/GeneralSans-Regular.woff2') format('woff2'),
    url('/fonts/GeneralSans-Regular.woff') format('woff'),
    url('/fonts/GeneralSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-Medium';
  src: url('/fonts/GeneralSans-Medium.woff2') format('woff2'),
    url('/fonts/GeneralSans-Medium.woff') format('woff'),
    url('/fonts/GeneralSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-Semibold';
  src: url('/fonts/GeneralSans-Semibold.woff2') format('woff2'),
    url('/fonts/GeneralSans-Semibold.woff') format('woff'),
    url('/fonts/GeneralSans-Semibold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-Black';
  src: url('/fonts/GeneralSans-Black.woff2') format('woff2'),
    url('/fonts/GeneralSans-Black.woff') format('woff'),
    url('/fonts/GeneralSans-Black.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.text-stroke {
  -webkit-text-stroke-width: 1px;
}

.text-stroke-primary {
  -webkit-text-stroke-color: #814df1;
}

.film-grain-background::after {
  background: linear-gradient(rgba(27, 27, 27, 0.95), rgba(27, 27, 27, 0.95)),
    url('/images/grain.png');

  animation: grain 0.75s steps(6) infinite;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  30% {
    transform: translate(3%, -15%);
  }
  50% {
    transform: translate(12%, 9%);
  }
  70% {
    transform: translate(9%, 4%);
  }
  90% {
    transform: translate(-1%, 7%);
  }
}
